.center {
  margin: 0 auto;
  width: 1000px;
}

form > div > label::after {
  content: "\a";
  white-space: pre;
}

input:not(#submit),
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #a6aaa9;
  border-radius: 5px;
  margin: 5px 0 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

label {
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  display: flex;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #ec5d57;
  padding: 20px;
  text-align: center;
}

input#submit {
  background-color: #ec5d57;
  color: white;
  border: 0;
  padding: 10px 18px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  float: right;
}

input#submit:hover {
  cursor: pointer;
}
